<!DOCTYPE html>
<html>
  <head>
    <title>Uncertain by Principle</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Uncertain by Principle</h1>
    <h4>Stephen Demjanenko</h4>
    <h5>Astrophysicist, UI hacker</h5>
  </body>
</html>
