<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Stephen Demjanenko</h1>
    <h5>Astrophysicist, UI hacker</h5>
  </body>
</html>
