@import "grid_stylus/reset.styl"
@import "grid_stylus/960/grid.styl"

var_grid_columns 12
var_grid_gutter 20px
var_grid_width 960px

body
  container()

h1
  font-size 60px
  font-family 'Enriqueta', serif

a
  color #00b7ff

.titlewrapper
  text-align center
  margin-top 10px
  margin-bottom 40px

#primary_layout
  width 960px
  grid(12)
  margin-left auto
  margin-right auto
  font 14px 'Enriqueta', serif

.content
  overflow auto
  grid_(12)

.profile
  grid_(4)

.intro
  grid(8)
