<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}

    {% include style.textile %}

    {% if site.google_analytics %}
      {% include google_analytics.textile %}
    {% endif %}
  </head>
  <body class="container">
    <header class="row">
      <h1><a href="/">{{ site.title }}</a> by {{ site.author.name }}</h1>
    </header>

    {% include js.textile %}

    {% if page.title %}
      <h3 class="row">{{ page.title }}</h3>
    {% endif %}

    <div class="row content">
      {{ content }}
    </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
