<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
    {% include style.textile %}
  </head>
  <body>
    <div class="top">
      <header>
          <h1><a href="/">{{ site.title }}</a></h1>
      </header>
    </div>

    <div id="content-wrapper">
      <h3>{{ page.title }}</h3>
      {{ content }}
    </div>

  </body>
</html>
